.button
    width: 150px
    height: 30px
    background-color: $main_color
    border-radius: 6px
    border: none
    font-size: 12px
    line-height: 1.2
    font-weight: 500
    text-transform: uppercase
    color: #ffffff
    margin-top: 8px
    &:hover
        background-color: #ffffff
        color: $main_color
        transition: 1s all
        border: 2px solid $main_color
    &_main
        width: 300px
        height: 50px
        font-size: 16px
        margin-top: 68px
    &_submit
        margin-top: 0
        width: 300px
        height: 50px
        font-size: 16px
        font-weight: 500
        text-transform: uppercase
        margin-top: 0
    &_mini
        width: 131px
        height: 40px
        font-size: 14px
        margin-top: 0